<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" href="//library.nyu.edu/assets/css/global.css">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7436432/789146/css/fonts.css" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}" />

  {% if page.collection == 'guides' %}
  <link rel="stylesheet" type="text/css" href="//library.nyu.edu/assets/css/style-guide.css" />
  {% endif %}

  <title>{{page.title}} | {{site.title}}</title>
</head>
<body>
  <div class="scrollable">
    <main id="main" tabindex="-1">
      {% include header.html %}
      {% include banner.html %}
      {{ content }}
    </main>
  </div>
</body>
</html>
